@import "../../styles/utils/breakpoints.scss";

.row-border-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0;
  @include breakpoint(sm) {
    flex-direction: row;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  8% {
    transform: translateY(-10px);
  }
  12% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-4px);
  }
  20% {
    transform: translateY(0px);
  }
}

.contact-button-wrapper {
  display: flex;
  justify-content: center;
  &:hover {
    button {
      animation: unset;
    }
  }
  button {
    animation: jump 5s infinite;
  }
}

.contact-button {
  color: white;
  text-align: center;
  padding: 25px 15px;
  border-radius: 50%;
  background-color: #2e3192;
  width: 120px;
  margin-right: 10%;
  font-size: 1.5rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 20px;
    height: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #2e3192;
    transform: rotate(35deg);
  }
}

.aktuelles-button {
  display: flex;
  justify-content: center;
}

.row-border-layout > :nth-child(even) {
  @include breakpoint(sm) {
    border-left: 1px solid black;
    padding-left: 25px;
  }
}

.row-border-layout > * {
  width: 100%;
  margin-bottom: 50px;
  @include breakpoint(sm) {
    margin-bottom: unset;
    width: 49.5%;
  }
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  > span {
    line-height: 2.5rem;
    width: max-content;
  }
  > span:nth-of-type(odd) {
    font-weight: bold;
    width: 150px;
    @include breakpoint(xs) {
      width: 35%;
    }
    @include breakpoint(lg) {
      width: 150px;
    }
  }
  > span:nth-of-type(even) {
    flex-grow: 1;
    min-width: 150px;
    max-width: 50%;
    @include breakpoint(xs) {
      width: 55%;
    }
    @include breakpoint(lg) {
      min-width: 275px;
    }
  }
}

.map-container {
  height: 50vh;
}

.content {
  ul {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 0;
    position: relative;
    margin-bottom: 40px;
    li {
      display: flex;
      align-items: center;
    }
    li::before {
      content: "";
      background: #f04d23;
      display: inline-block;
      height: 2px;
      width: 10px;
      bottom: 50%;
      margin-right: 2.5px;
    }
  }
}

.box {
  width: 300px;
  list-style: none;
}

.property-title {
  font-size: 3rem;
  @include breakpoint(sm){
    font-size: 4rem;
  }
}
