@import "../../styles/utils/breakpoints.scss";

.footer {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-color: #2e3192;
  padding: 25px 0;
  @include breakpoint(lg) {
    flex-direction: row;
  }
}
