@import "../../styles/utils/breakpoints.scss";

.section {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 25px;
  position: relative;
  @include breakpoint(sm) {
    max-width: 850px;
  }
  @include breakpoint(lg) {
    max-width: 940px;
    padding: unset;
    margin-top: 130px;
    margin-bottom: 130px;
  }
}

.full-width {
  @include breakpoint(lg) {
    max-width: 100%;
  }
}
