@import "../../styles/utils/breakpoints.scss";

.document-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 40px 0px;
  width: 100%;
  a {
    text-decoration: none;
    color: #2e3192;
    font-weight: bold;
    font-size: 2.5rem;
  }
  @include breakpoint(sm) {
    width: 80%;
  }
}

.document-list-item {
  > a {
    border-bottom: 1px solid #2e3192;
    padding: 20px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 50px;
      display: block;
    }
  }
}

.content {
  margin-bottom: 30px;
  p {
    font-size: 2rem;
  }
  h4 {
    font-size: 2rem;
  }
}

.tags-container {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  > button {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.tag-button {
  color: #2e3192;
}

.tag-button-active {
  color: white;
  background-color: #2e3192;
  &:hover {
    color: white;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  .card {
    width: 45%;
    margin-bottom: 40px;
  }
  .card:not(:nth-of-type(2n + 1)) {
    margin-left: 10%;
  }
  @include breakpoint(sm) {
    .card {
      width: 30%;
    }
    .card:not(:nth-of-type(2n + 1)) {
      margin-left: 0;
    }
    .card:not(:nth-of-type(3n + 1)) {
      margin-left: 3.33%;
    }
  }
  @include breakpoint(md) {
    .card {
      width: 22%;
    }
    .card:not(:nth-of-type(4n + 1)) {
      margin-left: 3.99%;
    }
  }
}

.card-content {
  border: 1px solid black;
  border-top: none;
  padding: 10px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 2.5px;
  font-weight: bold;
  color: #2e3192;
}

.email {
  color: #f04d23;
  display: block;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  > a {
    width: 25%;
    margin-right: 5%;
  }
}

.card-body {
  margin-bottom: 15px;
}
