.content {
  ul {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 0;
    position: relative;
    margin-bottom: 40px;
    li {
      display: flex;
      align-items: center;
      > * {
        display: contents;
      }
    }
    li::before {
      content: "";
      background: #f04d23;
      display: inline-block;
      height: 2px;
      min-width: 10px;
      bottom: 50%;
      margin-right: 2.5px;
    }
  }
}
